# Realizando cálculos e análises

In [1]:
import pandas as pd

df_vendas = pd.read_csv('datasets/vendas.csv', sep=';', decimal=',')
df_produtos = pd.read_csv('datasets/produtos.csv', sep=';', decimal=',', index_col=0)

df_produtos = df_produtos.rename(columns={'nome': 'produto'})
df_produtos = df_produtos[['produto', 'preco']]
df_vendas = pd.merge(left=df_vendas,
                    right=df_produtos,
                    on ='produto',
                    how ='left')
df_vendas.head(5)

,data,id_venda,filial,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento,preco
0,2023-01-20 08:00:56.384224,0,Canoas,Luis Fernando,Tenis Nike,Sabrina Rieke,feminino,credito,300
1,2023-01-20 08:50:58.755843,1,Florianópolis,Mario Sérgio,Tenis Adidas,Patsy Lovell,feminino,credito,450
2,2023-01-20 11:44:56.776745,2,Canoas,Carlos Henrique,Tenis Adidas,John Crandall,masculino,credito,450
3,2023-01-20 12:07:58.025749,3,Caxias do Sul,Rodrigo Vanzeloti,Tenis Adidas,Mildred Mcleod,feminino,credito,450
4,2023-01-20 12:49:56.606703,4,São Paulo,Cassia Moraes,Tenis NB,Robert Mccormick,masculino,credito,500

## Vendo as características gerais dos dados

### .describe

In [2]:
df_vendas.describe()

          id_venda        preco
count  2000.000000  2000.000000
mean    999.500000   374.600000
std     577.494589   103.465901
min       0.000000   250.000000
25%     499.750000   250.000000
50%     999.500000   300.000000
75%    1499.250000   500.000000
max    1999.000000   500.000000

### .info

In [3]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data             2000 non-null   object
 1   id_venda         2000 non-null   int64
 2   filial           2000 non-null   object
 3   vendedor         2000 non-null   object
 4   produto          2000 non-null   object
 5   cliente_nome     2000 non-null   object
 6   cliente_genero   2000 non-null   object
 7   forma_pagamento  2000 non-null   object
 8   preco            2000 non-null   int64
dtypes: int64(2), object(7)
memory usage: 140.8+ KB

## Contando valores únicos

In [6]:
df_vendas['filial'].value_counts()

filial
Florianópolis    349
São Paulo        343
Canoas           337
Porto Alegre     335
Lajeado          325
Caxias do Sul    311
Name: count, dtype: int64

In [7]:
df_vendas['filial'].value_counts(normalize=True) * 100

filial
Florianópolis    17.45
São Paulo        17.15
Canoas           16.85
Porto Alegre     16.75
Lajeado          16.25
Caxias do Sul    15.55
Name: proportion, dtype: float64

In [9]:
list(df_vendas['filial'].unique())

['Canoas',
 'Florianópolis',
 'Caxias do Sul',
 'São Paulo',
 'Lajeado',
 'Porto Alegre']

## Operações por toda a tabela e por coluna

In [12]:
df_vendas.sum()

data               2023-01-20 08:00:56.3842242023-01-20 08:50:58....
id_venda                                                     1999000
filial             CanoasFlorianópolisCanoasCaxias do SulSão Paul...
vendedor           Luis FernandoMario SérgioCarlos HenriqueRodrig...
produto            Tenis NikeTenis AdidasTenis AdidasTenis Adidas...
cliente_nome       Sabrina RiekePatsy LovellJohn CrandallMildred ...
cliente_genero     femininofemininomasculinofemininomasculinomasc...
forma_pagamento    creditocreditocreditocreditocreditopixboletocr...
preco                                                         749200
dtype: object

In [13]:
df_vendas['preco'].sum()

np.int64(749200)

In [14]:
df_vendas['preco'].min()

np.int64(250)

In [15]:
df_vendas['preco'].max()

np.int64(500)

In [16]:
df_vendas['preco'].median()

np.float64(300.0)

In [17]:
df_vendas['preco'].mean()

np.float64(374.6)

In [20]:
df_vendas['preco'].count()

np.int64(2000)