## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [9]:
import pandas as pd
import glob
from pathlib import Path

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [16]:
file_path = Path('./src')

li = []

for filename in file_path.glob('*.csv'):
  df = pd.read_csv(filename)
  li.append(df)

frame = pd.concat(li)
print(frame)

       Unnamed: 0 DATA INICIAL  DATA FINAL        REGIÃO              ESTADO  \
0               0   2004-05-09  2004-05-15  CENTRO OESTE    DISTRITO FEDERAL
1               1   2004-05-09  2004-05-15  CENTRO OESTE               GOIAS
2               2   2004-05-09  2004-05-15  CENTRO OESTE         MATO GROSSO
3               3   2004-05-09  2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL
4               4   2004-05-09  2004-05-15      NORDESTE             ALAGOAS
...           ...          ...         ...           ...                 ...
78180      120818   2021-04-25  2021-05-01         NORTE             RORAIMA
78181      120819   2021-04-25  2021-05-01           SUL      SANTA CATARINA
78182      120820   2021-04-25  2021-05-01       SUDESTE           SAO PAULO
78183      120821   2021-04-25  2021-05-01      NORDESTE             SERGIPE
78184      120822   2021-04-25  2021-05-01         NORTE           TOCANTINS

                PRODUTO  NÚMERO DE POSTOS PESQUISADOS UNIDADE DE MEDIDA  \
0      ETANOL HIDRATADO                           127              R$/l
1      ETANOL HIDRATADO                           387              R$/l
2      ETANOL HIDRATADO                           192              R$/l
3      ETANOL HIDRATADO                           162              R$/l
4      ETANOL HIDRATADO                           103              R$/l
...                 ...                           ...               ...
78180   OLEO DIESEL S10                            12              R$/l
78181   OLEO DIESEL S10                           100              R$/l
78182   OLEO DIESEL S10                           886              R$/l
78183   OLEO DIESEL S10                            33              R$/l
78184   OLEO DIESEL S10                            18              R$/l

       PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
0                    1.288                  0.016                 1.190
1                    1.162                  0.114                 0.890
2                    1.389                  0.097                 1.180
3                    1.262                  0.070                 1.090
4                    1.181                  0.078                 1.050
...                    ...                    ...                   ...
78180                4.582                  0.056                 4.510
78181                4.141                  0.187                 3.838
78182                4.246                  0.216                 3.769
78183                4.464                  0.205                 4.190
78184                4.352                  0.156                 4.199

       PREÇO MÁXIMO REVENDA MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
0                     1.350                0.463                     0.012
1                     1.449                0.399                     0.098
2                     1.760                0.419                     0.070
3                     1.509                0.432                     0.055
4                     1.400                 0.24                     0.066
...                     ...                  ...                       ...
78180                 4.690             -99999.0                     0.012
78181                 4.739             -99999.0                     0.045
78182                 5.199             -99999.0                     0.051
78183                 4.699             -99999.0                     0.046
78184                 4.699             -99999.0                     0.036

      PREÇO MÉDIO DISTRIBUIÇÃO DESVIO PADRÃO DISTRIBUIÇÃO  \
0                        0.825                       0.11
1                        0.763                      0.088
2                         0.97                      0.095
3                         0.83                      0.119
4                        0.941                      0.077
...                        ...                        ...
78180                 -99999.0                   -99999.0
78181                 -99999.0                   -99999.0
78182                 -99999.0                   -99999.0
78183                 -99999.0                   -99999.0
78184                 -99999.0                   -99999.0

      PREÇO MÍNIMO DISTRIBUIÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO  \
0                        0.4201                    0.9666
1                        0.5013                      1.05
2                        0.5614                     1.161
3                        0.5991                   1.22242
4                        0.7441                    1.0317
...                         ...                       ...
78180                  -99999.0                  -99999.0
78181                  -99999.0                  -99999.0
78182                  -99999.0                  -99999.0
78183                  -99999.0                  -99999.0
78184                  -99999.0                  -99999.0

      COEF DE VARIAÇÃO DISTRIBUIÇÃO
0                             0.133
1                             0.115
2                             0.098
3                             0.143
4                             0.082
...                             ...
78180                      -99999.0
78181                      -99999.0
78182                      -99999.0
78183                      -99999.0
78184                      -99999.0

[120823 rows x 19 columns]

/var/folders/8k/myz6l6pd7wgdzb2c6r8z91tw0000gn/T/ipykernel_96156/1130276978.py:6: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

### 11. Qual a média de preço dos estados da região sul em 2012?

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.